@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Outfit:wght@600&display=swap');
body {
    margin: 0;
    padding: 1em;
    min-height: 100vh;
    box-sizing: border-box;
    color: #5f5369;
    background-color: rgb(216, 216, 216);
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
}
h1 {
    font-family: 'Comforter Brush', cursive;
}
a:link {
    color: #756285;
}
a:visited, a:hover, a:active {
    color: #564166
}
@media screen and (max-width: 721px) {
    body {
        font-size: .8em;
    }
}